{% extends "mainview/home.html" %}
{% block content %} 
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile-details' user.username %}">{{ post.author }}</a>
                <small class="text-muted">posted <a href="{% url 'mainview:post-detail' post.id %}">this</a> on {{ post.date_posted|date:"j F Y" }}</small>
            </div>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}